<form style="display:inline;" method="post" action="/addForm">
	<div class="row mb-3">
		<div class="col">
			<h1>Add New Trip</h1>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col">
			Enter Destination City:
		</div>
		<div class="col">
			<input type="text" name="city">
		</div>
	</div>
	<div class="row mb-3">
		<div class="col">
			Enter Trip Date:
		</div>
		<div class="col">
			<input type="date" name="date">
		</div>
	</div>
	<div class="row mb-3">
		<div class="col">
			Enter Round-Trip Miles:
		</div>
		<div class="col">
			<input type="text" name="miles">
		</div>
	</div>
	<div class="row mb-3">
		<div class="col">
			Enter Total Gallons:
		</div>
		<div class="col">
			<input type="text" name="gallons">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<input type="submit">
		</div>
	</div>
</form>