<h1>Welcome to Express Airways</h1>
We offer cheap flights from Louisville, KY to either Miami, Florida, or Las Vegas, Nevada.<br/>
Here is a picture of one of our aircraft:<br/>
<img src="/img/aircraft.png" /><br/>
<b>Click the Flights link above to see our schedule.</b>