<h1>Express Airways</h1>
Here is your reservation summary.<br/>
<ul>
   <li>Name: {{fullName}}</li>
   <li>Flight number: {{flightNumber}}</li>
   <li>Meal: {{mealPreference}}</li>
   <li>Class: {{seatingPreference}}</li>
</ul>